.plan-list-item {
  height: 100px;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  position: relative;
}

.plan-name {
  position: absolute;
  left: 0;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-gold-light);
}

.plan-name:hover {
  text-decoration: underline;
  color: var(--color-gold-light);
  cursor: pointer;
}

.plan-majors {
  position: absolute;
  left: 325px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.plan-minors {
  position: absolute;
  left: 650px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.plan-program-name {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-white);
}

.plan-modified {
  position: absolute;
  left: 975px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-white);
}
