.course {
  width: 100%;
  height: 42px;
  margin-left: 0;
  margin-right: 0;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.2s;
}

.course:last-child {
  border-bottom: none;
}

.course-code {
  color: var(--color-text-white);
  font-size: 12px;
  font-family: inherit;
  font-weight: 500;
  flex: 0 0 90px; /* Do not grow, do not shrink, start at 90px */
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.course-title {
  color: var(--color-text-dark);
  font-size: 12px;
  font-family: inherit;
  font-weight: 500;
  flex: 1 1 auto; /* Grow and shrink as needed */
  margin-left: 10px; /* Add space between code and title */
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.course-credits {
  color: var(--color-text-dark);
  font-size: 12px;
  font-family: inherit;
  font-weight: 500;
  flex: 0 0 50px; /* Give it a fixed space to align text right */
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
