.course {
  width: calc(100% + 25px);
  height: 45px;
  margin-left: -12.5px;
  margin-right: -12.5px;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  padding: 0 22.25px 0 22.25px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.2s;
}

.course:last-child {
  border-bottom: none;
}

.course-code {
  color: var(--color-text-white);
  font-size: 12px;
  font-family: inherit;
  font-weight: 500;
  width: 100px;
  flex-shrink: 0;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.course-title {
  color: var(--color-text-dark);
  font-size: 12px;
  font-family: inherit;
  font-weight: 500;
  width: 190px;
  flex-shrink: 0;
  margin-left: -10px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.course-credits {
  color: var(--color-text-dark);
  font-size: 12px;
  font-family: inherit;
  font-weight: 500;
  width: 30px;
  flex-shrink: 0;
  text-align: right;
  margin-left: auto;
}
