.constraint-field {
  width: calc(100% - 60px);
  height: 30px;
  display: grid;
  grid-template-columns: 260px 1fr 507px auto;
  column-gap: 20px;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--color-card-bg);
  margin-left: auto;
  padding: 0;
}

.constraint-text {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-gold-light);
  text-align: left;
  line-height: 1.4;
  word-wrap: break-word;
  grid-column: 1 / 3;
}
