.plans-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  background-color: var(--color-bg);
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.plans-content {
  padding: 2rem;
  margin-top: 75px;
  margin-left: 175px;
  margin-right: 175px;
}

.plans-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.plans-content h1 {
  color: var(--color-gold-light);
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  text-align: left;
  line-height: 1;
}
