.toggle {
  width: 35px;
  height: 20px;
  border-radius: 999px;
  background-color: var(--color-border);
  border: 1px solid var(--color-btn-border);
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s ease;
  padding: 0;
  outline: none;
}

.toggle:hover {
  border: 1px solid var(--color-btn-border);
}

.toggle:focus,
.toggle:focus-visible {
  outline: none;
}

.toggle-on {
  background-color: var(--color-text-light);
  border: 1px solid var(--color-text-light);
}

.toggle-on:hover {
  border: 1px solid var(--color-text-light);
}

.toggle-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color-text-dark);
  position: absolute;
  top: 1px;
  left: 1px;
  transition: left 0.2s ease, background-color 0.2s ease;
}

.toggle-on .toggle-circle {
  left: 17px;
  background-color: black;
}
