.edit-programs-button {
  width: 125px;
  height: 35px;
  background-color: var(--color-btn-bg);
  border: 1px solid var(--color-btn-border);
  border-radius: 12px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 0;
  outline: none;
  box-shadow: none;
}

.edit-programs-button:hover {
  outline: none;
  box-shadow: none;
  background-color: var(--color-btn-border);
}

.edit-programs-button:active {
  outline: none;
  box-shadow: none;
}

.edit-programs-text {
  position: absolute;
  left: 58%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: 500;
  color: var(--color-text-white);
  white-space: nowrap;
}

.edit-programs-icon {
  position: absolute;
  left: 16%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  filter: brightness(0) invert(1);
}
