.program-card-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.program-card-list-loading {
  width: 100%;
  padding: 40px 24px;
  text-align: center;
  font-size: 14px;
  color: var(--color-text-dark);
  font-family: inherit;
}

.program-card-list-empty {
  width: 100%;
  padding: 40px 24px;
  text-align: center;
  font-size: 14px;
  color: var(--color-text-dark);
  font-family: inherit;
}
