.plans-table-header {
  height: 50px;
  margin-top: 50px;
  margin-left: 0;
  margin-right: 0;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  position: relative;
}

.plans-table-header span {
  font-size: 14px;
  color: var(--color-text-dark);
  font-weight: 500;
  position: absolute;
}

.header-name {
  left: 0;
}

.header-majors {
  left: 325px;
}

.header-minors {
  left: 650px;
}

.header-modified {
  left: 975px;
}
