.navbar {
  height: 70px;
  width: 100%;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  padding: 0 24px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar-left {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.navbar-logo {
  height: 40px;
  width: auto;
}

.navbar-logotype {
  height: 30px;
  width: auto;
}

.navbar-logotype:hover {
  filter: brightness(0) invert(1);
  cursor: pointer;
}
