.drop-indicator {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  z-index: 100;
  pointer-events: none;
}

.drop-indicator-above {
  top: -1px;
}

.drop-indicator-below {
  bottom: -1px;
}

.drop-indicator-line {
  width: 100%;
  height: 2px;
  background-color: var(--color-btn-border);
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}
