.transfer-search-toggle {
  width: 35px;
  height: 35px;
  background-color: var(--color-btn-bg);
  border: 1px solid var(--color-btn-border);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  outline: none;
  box-shadow: none;
}

.transfer-search-toggle:hover {
  outline: none;
  box-shadow: none;
  background-color: var(--color-btn-border);
}

.transfer-search-toggle:active {
  outline: none;
  box-shadow: none;
}

.transfer-search-toggle-icon {
  width: 18px;
  height: 18px;
  filter: brightness(0) invert(1);
}
