.transfer-credits-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  background-color: var(--color-bg);
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.transfer-credits-content {
  padding: 2rem;
  margin-top: 100px;
  margin-left: 175px;
  margin-right: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transfer-credits-header {
  width: 100%;
  max-width: 1175px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.transfer-credits-content h1 {
  color: var(--color-gold-light);
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  text-align: left;
  line-height: 1;
}

.transfer-credits-header-buttons {
  display: flex;
  gap: 12px;
  align-items: flex-end;
  margin-bottom: -10px;
}

.transfer-credits-header-buttons .add-credits-button {
  margin-bottom: 3px;
}

.transfer-credits-search-wrapper {
  position: absolute;
  top: 90px;
  left: 30px;
  display: flex;
  justify-content: flex-start;
}

.transfer-credits-list {
  width: 100%;
  max-width: 1175px;
  display: flex;
  flex-direction: column;
}
